.intro {
  flex: 0 0 35%;
  padding: 2rem;
}

#intro-text {
  font-size: 1.2rem;
  line-height: 1.6;
}

.gallery {
  display: flex;
  height: 40vh;
  overflow-x: auto;
  scroll-behavior: smooth;
}


.media {
  flex: 0 0 auto; 
  height: 100%; 
  width: auto;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.media img {
  height: 100%;
  width: auto;
  /* border-radius: 8px; */
  object-fit: cover;
}

.video {
  flex: 0 0 auto; 
  height: 100%; 
  width: auto;
  display: flex;
  align-items: center; 
  justify-content: center;
  pointer-events: none;
}

.video iframe {
  aspect-ratio: 16/9;
  height: 100%;
  width: auto;
  /* border-radius: 8px; */
  object-fit: cover;
  pointer-events: auto;
}