#main {
  flex: 1;
  display: flex;;
  width: 100%;
  margin-top: 1rem;
  align-items: center;      /* vertical centering */
  justify-content: center;  /* horizontal centering */
}

.image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-wrapper img {
  /* margin-left: 2vw;
  margin-right: 2vw; */
  width: 60%;
  height: auto;
  display: block;
  /* translate: 25vw 8vh; */
}

.image-wrapper p {
  position: absolute;
  top: 0; 
  right: 6vw;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  max-width: 30%; 
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--text);
}


/* Mobile layout: text below image */
@media (max-width: 700px) {
.image-wrapper img {
  width: 90vw;
  height: auto;
  display: block;
  /* translate: 25vw 8vh; */
}
}