html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--secondary);
}

#top-container {
  background: linear-gradient(
    to bottom,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

header {
  color: var(--text);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1.5rem;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text);
  font-weight: bold;
  padding: 1rem 0;
  display: block;
  transition: color 0.3s, transform 0.2s ease;
}

nav a:hover {
  color: var(--accent);
  transform: scale(1.1); /* slightly enlarge on hover */
}

.bottom-container {
  width: 100%;
  padding: 1.5rem 0;
  /* background: var(--primary); */
  background: linear-gradient(
    to bottom,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.bottom-container a {
  text-decoration: none;
  color: var(--text);
  font-size: 2rem;
  transition: color 0.3s, transform 0.2s ease; /* add transform transition */
}

.bottom-container a:hover {
  color: var(--accent);
  transform: scale(1.1); /* slightly enlarge on hover */
}
