#services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  max-width: 100%;
}

#main {
  padding-top: 1rem;
}

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.service img {
  width: 100%;
  aspect-ratio: 3 / 2; /* 600x400 ratio */
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
}

.service img:hover {
  filter: brightness(0.4);
}

.service span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  color: var(--text);
  font-size: 1.6rem;
  font-weight: 600;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.service:hover span {
  opacity: 1;
}

@media (max-width: 700px) {
  #services {
    grid-template-columns: 1fr;
  }
}