:root {
  --primary: #040926;    /* buttons, highlights */
  --secondary: #60001e;  /* main background */
  --text: #ebebeb;       /* default text */
  --accent: #586f6b;     /* borders, hover states, small highlights */
}
