/* ============================
   Google Font Import
   Replace the URL below with any Google Fonts link.
   Example link:
   https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap
   ============================ */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* ============================
   Global Font Application
   ============================ */

html, body {
  font-family: "Oswald", sans-serif;
}